*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Nunito, sans-serif;
  color: $color-font;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 300;
}

h1,
h2 {
  font-family: Montserrat;
  font-weight: 900;
  color: $color-primary;
  line-height: 1.1;
}

h1 {
  font-size: 5.4rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.1;
  color: $color-font;
}
