*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Nunito, sans-serif;
  color: $color-font;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 300;
}

h1,
h2 {
  font-family: Montserrat;
  font-weight: 900;
  color: $color-primary;
  line-height: 1.1;
}

h1 {
  font-size: 5.4rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
}

//Mini-card
.mini-card {
  max-width: 226px;

  &__heading,
  &__description {
    text-align: center;
  }

  &__heading {
    margin-top: 4.2rem;
  }

  &__description {
    margin-top: 1.2rem;
  }
}

.icon {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

// Section Header
.section {
  background-color: $color-background;
  padding: 9.14vw 0 6.21vw;

  &__header {
    text-align: center;
    margin-bottom: 7.2rem;
  }

  &__subtitle {
    color: $color-font;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 2rem;
}
//Card

.card {
  padding: 0 4.2rem;
  background: #fff;

  &__subtitle {
    margin: 4.2rem 0 0.5rem;
    color: $color-accent;
  }

  &__container {
    display: flex;
  }

  &__heading {
    margin-bottom: 2.4rem;
  }

  &--toggled {
    box-shadow: 0px 5px 23px 0px rgba(202, 213, 221, 0.2);
  }
}

// Characteristic
.characteristic {
  display: flex;
  align-items: center;
  margin: 2.4rem 0 4.6rem;

  &__container {
    display: flex;
  }

  &__text {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    &--bold {
      font-weight: 600;
    }
  }

  &--remote {
    margin-right: 5vw;
  }
}

// Image
.image {
  display: flex;
  align-self: center;
  background: #eceff4;
  height: 100%;
}

.image > img {
  width: 100%;
}

.image--whole {
  background: 0;
}

//Button
.buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.2rem;
}

.btn {
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn--accent {
  background: $color-accent;
  color: $color-white;
  border-radius: 19px;
  padding: 6px 2.4rem;
  transition: background-color 0.3s;
  &:active {
    background-color: #b99672;
  }
}

.btn--primary {
  padding: 0;
  background: 0;
  color: $color-primary;
  transition: color 0.3s;
  &:active {
    color: $color-accent;
  }
}

.btn--gift {
  padding: 0 2.4rem;
}

//Container
.container {
  margin: 0 auto;
  max-width: 1104px;
}

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.3vw 2vw;
}

.grid--1x3,
.grid--1x4 {
  grid-column-gap: 2vw;
}
.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--1x4 {
  grid-template-columns: repeat(4, 1fr);
}

//Coffee
.coffee {
  &__card {
    width: 23.14vw;
    max-width: 324px;
  }

  &__buttons {
    margin-top: 3.4rem;
  }
}

//Combo
.combo {
  &__card {
    flex-direction: column;
    width: 25.7vw;
    max-width: 360px;
  }

  &__subtitle {
    span {
      color: $color-primary;
      font-size: 1.4rem;
      text-decoration: line-through;
      margin-left: 1.9rem;
    }
  }

  &__buttons {
    margin-top: 3.2rem;
  }

  &__image {
    margin: 0 auto;
  }
}

.gift {
  &__buttons {
    justify-items: start;
  }

  &__card {
    width: 56.6vw;
  }

  &__image {
    position: relative;
    z-index: 0;
    &:before {
      background: #fff;
      content: "";
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }
  }
}
