//Mini-card 
.mini-card {
    max-width: 226px;
    
    &__heading, &__description {
        text-align: center;
    }

    &__heading {
        margin-top: 4.2rem;
    }

    &__description {
        margin-top: 1.2rem;
    }
}

.icon {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
